.header{
    margin-bottom: 10px;;
    width: 100%;
    border-style: solid;
    height: 40px;
    border-width: 1px;
    background-color: black;
    color: white;
    /* color: */
}

.header__username{
    font-weight: bold;
    font-size: 18px;
}