.login{
    margin-left: 25%;   
}


.login__logo{
    /* background-image: url("https://see.fontimg.com/api/renderfont4/aYJm/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/Tm90ZWJvb2sgT25saW5l/fm-college-team.png"); */
    font-family: fantasy;
    /* text-decoration: underline; */
    font-size: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.login >form>input{
    height: 20px;
}

.login >form>div>button{
    margin-top: 20px;
    height: 30px;
    margin-left: 15px;
    width: 200px;
}

.login__bottom{
    width: 200px;
}

.login__error{
    margin-top: 20px;
    /* margin-left: 25%; */
    color: red;
}