.mainbody{
    margin-left: 20px;  
    width: 100%;  
}

.mainbody__title{
    margin-bottom: 15px;
    font-size: 25px;
}

.mainbody__main{
    display: flex;
    flex-direction: row;
  }
  
  .mainbody__options{
    /* float: right; */
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  .mainbody__options >button{
      margin-bottom: 10px;
  }