.newEntry{
    border: 1px solid black;
    width: 300px;
}

.newEntry__chapterTitle{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 3px;
}

.newEntry__minimizeButton{
    margin-left: 100px;
    cursor: default;
    width: 20px;
    text-align: center;
    height: 20px;
    
}
.newEntry__minimizeButton:hover{
    background-color:grey;
    
}
.newEntry__maximizeButton{
    margin-left: 10px;
    cursor: default;
    width: 20px;
    text-align: center;
    height: 20px;
}
.newEntry__maximizeButton:hover{
    background-color:grey;
    
}