



@media only screen and (min-width: 600px) {
    .newEntry{
        /* width: 100%; */
        border: 2px solid black;
        width: 500px;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 10px;

        background-color: #fff; 
        background-image: 
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .3em);
        background-size: 100% 1.2em;
        
        overflow: hidden;
        
        /* background-image:url("data:image/gif;base64,R0lGODlhFgAsAJEAAP////n8/ePv9gAAACH5BAAHAP8ALAAAAAAWACwAAAInhI+py+0Po5y02ouz3rz7D4biSJbmiabqyrZuFsTyTNeBgOf6zgsFADs="); */
    }

    .newEntry__chapterTitle{
        display: flex;
        flex-direction: row;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 3px;
        margin-left: 5px;
        word-wrap: break-word;
        /* background-color: purple; */
        /* border-bottom: 1px solid black; */
        /* border: 1px solid black */
    }
    .newEntry__chapterTitleContainer{
        
        border: 1px solid black;
        border-bottom: 3px solid black;
        background-color: yellowgreen;
        height: 55px;
        /* width: 150px; */
    }
    
    .newEntry__minimizeButton{
        margin-left: 200px;
        cursor: default;
        width: 20px;
        text-align: center;
        height: 20px;
        /* font-weight: normal; */
        /* margin-top: -4px; */
        
    }
    .newEntry__minimizeButton:hover{
        background-color:grey;
        
    }
    .newEntry__maximizeButton{
        margin-left: 10px;
        cursor: default;
        width: 20px;
        text-align: center;
        height: 20px;
        /* font-weight: normal; */
        font-size: small;
        margin-top: 4px;
        font-weight: bolder;
    }
    .newEntry__maximizeButton:hover{
        background-color:grey;
        
    }
    .newEntry__addNewButton{
        margin-left: 20px;
        margin-bottom: 20px;
        width: 40px;
        background-color: white;
        border: 1px solid gray;
        font-size: 10px;
    }
    .newEntry__titleInputBox{
        height: 40px;
        font-size: large;
        background-color: yellowgreen;   
    }
    .newEntry__titleSetButton{
        height: 40px;
    }
  }

@media only screen and (max-width: 600px) {
    .newEntry{
        border: 2px solid black;
        width: 500px;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 10px;

        background-color: #fff; 
        background-image: 
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .3em);
        background-size: 100% 1.2em;
        
        overflow: hidden;
    }

    .newEntry__chapterTitle{
        display: flex;
        flex-direction: row;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 3px;
        margin-left: 5px;
    }

    .newEntry__chapterTitleContainer{
        
        border: 1px solid black;
        background-color: yellowgreen;
        height: 55px;
        border-bottom: 3px solid black
    }
    
    
    .newEntry__minimizeButton{
        margin-left: 200px;
        cursor: default;
        width: 20px;
        text-align: center;
        height: 20px;
        /* font-weight: normal; */
        /* margin-top: -4px; */
        
    }
    .newEntry__minimizeButton:hover{
        background-color:grey;
        
    }
    .newEntry__maximizeButton{
        margin-left: 10px;
        cursor: default;
        width: 20px;
        text-align: center;
        height: 20px;
        font-weight: normal;
        font-size: small;
        margin-top: 4px;
    }
    .newEntry__maximizeButton:hover{
        background-color:grey;
        
    }
    .newEntry__addNewButton{
        margin-left: 30px;
        margin-bottom: 20px;
        width: 40px;
        background-color: white;
        border: 1px solid gray;
        font-size: 10px;
    }
    .newEntry__titleInputBox{
        height: 40px;
        font-size: large;
        background-color: yellowgreen;   
    }
    .newEntry__titleSetButton{
        height: 40px;
    }
  }

  @media only screen and (max-width: 400px) {
    .newEntry{
        border: 2px solid black;
        width: 400px;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 10px;

        background-color: #fff; 
        background-image: 
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .3em);
        background-size: 100% 1.2em;
        
        overflow: hidden;
    }

    .newEntry__chapterTitle{
        display: flex;
        flex-direction: row;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 3px;
        margin-left: 5px;
        /* border-bottom: 1px solid; */
    }

    .newEntry__chapterTitleContainer{
        
        border: 1px solid black;
        border-bottom: 3px solid black;
        background-color: yellowgreen;
        height: 55px;
    }
    
    
    .newEntry__minimizeButton{
        margin-left: 200px;
        cursor: default;
        width: 20px;
        text-align: center;
        height: 20px;
        /* font-weight: normal; */
        /* margin-top: -4px; */
        
    }
    .newEntry__minimizeButton:hover{
        background-color:grey;
        
    }
    .newEntry__maximizeButton{
        margin-left: 10px;
        cursor: default;
        width: 20px;
        text-align: center;
        height: 20px;
        font-weight: normal;
        font-size: small;
        margin-top: 4px;
    }
    .newEntry__maximizeButton:hover{
        background-color:grey;
        
    }

    .newEntry__addNewButton{
        margin-left: 30px;
        margin-bottom: 20px;
        width: 40px;
        background-color: white;
        border: 1px solid gray;
        font-size: 10px;
    }
    .newEntry__titleInputBox{
        height: 40px;
        font-size: large;
        background-color: yellowgreen;   
    }
    .newEntry__titleSetButton{
        height: 40px;
    }
  }

