.newsection{
    display: flex;
    flex-direction: 'row';
}

.newsection__title{
    margin-left: 5px;
    /* text-decoration: underline; */
}

.newsection__body{
    margin-left: 20px;
    margin-top: -20px;
}

.newsection__finishTitle{
    display: flex;
    flex-direction: row;
}

.newsection__titleSymbol{
    
}

.newsection__delete{
    margin-left: 40px;
    margin-top: 20px;
    cursor: default;
}